.cardd {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  margin-top: 30px;
  margin-left: 300px;
}
.solocard {
  margin-top: 10px;
  transition: 0.3s;
}
.solocard:hover {
  box-shadow: 0 0 10px #a6c5fe;
  margin-top: 6px;
}

.user {
  margin-right: 7px;
}

.navcolor {
  position: fixed;
  top: 0;
  z-index: 99;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  height: 80px;
}
.img {
  position: relative;
  left: 25px;
  height: 90px;
  width: 90px;
}
.me-auto{
  position: relative;
  left: 25px;
}
.propic {
  height: 45px;
  width: 45px;
  margin-left: 20px;
}

.mainnav {
  border-radius: 5px;
  background-color: #c9dbfd;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  height: 80px;
  width: 500px;
}

.h1 {
  align-items: center;
  justify-content: center;
}
.mainpg {
  position: relative;
  top: 180px;
}
.card {
  position: relative;
  top: 60px;
}

.card {
  position: relative;
  top: 150px;
  height: auto;
}
.div {
  position: relative;
  margin-top: 10px;
  margin-bottom: 20px;
}
.newuser {
  position: relative;
  float: right;
}
.toggle {
  position: relative;
  margin-top: 10px;
  margin-bottom: 5px;
  left: 5px;
}
.form-check-label {
  position: relative;
  left: 5px;
  bottom: 0.5px;
}
.gmail {
  position: relative;
  top: 15px;
}
.usergmail{
  position: relative;
}
.google {
  position: relative;
  bottom: 15px;
  left: 170px;
}

.gimg {
  position: relative;
  height: 20px;
  width: 20px;
  bottom: 2px;
  left: 10px;
  opacity: 0.7;
}
.gimg:hover {
  opacity: 1;
  cursor: pointer;
}
.css-cyfsxc-MuiPickersCalendarHeader-labelContainer {
  background-color: #0d6efd;
  color: #fff;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 4px;
  border-radius: 4px;
}
.css-1tkx1wf-MuiSvgIcon-root-MuiPickersCalendarHeader-switchViewIcon {
  color: #fff;
}
.css-1e3wlyl-MuiButtonBase-root-MuiMenuItem-root-MuiMultiSectionDigitalClockSection-item.Mui-selected {
  border-radius: 4px;
}
.css-1r39cda {
  padding-top: 3px;
  padding-right: 5px;
}
.css-iax6tr-MuiMultiSectionDigitalClock-root {
  padding-top: 3px;
  padding-left: 3px;
}

.css-a643pv-MuiStack-root{
  display: flex;
  flex-direction: row;
  width: 300px;
}
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
  width: 290px;
}
.starttime {
  position: absolute;
  width: 200px;
  margin-left: 300px;
  margin-top: 60px;
}
.endtime{
  position: absolute;
  width: 300px;
  margin-left: 608px;
  margin-top: 60px;
}
.dropdown-toggle{
  position: relative;
  top: 115px;
  left: 915px;
}
.profile-cont{
  position: relative;
  display: flex;
  height: 713px;
  background-color: rgb(223, 237, 255);
}
.profile-sidebar{
  position: relative;
  text-align: center;
  left: 35px;
  flex: 1.4;
  width: 40%;
}
.profile-mainbar{
  position: relative; 
  text-align: center;
  flex: 2.7;
  margin-right: 18px;
  width: 75%;
}

.red {
  background-image: linear-gradient(to right, white , rgb(202, 223, 254));
  font-weight:500;
}
.reserve{
  display: flex;
  flex-wrap: wrap;
  
}
.secondcard{
  flex: 1.5;
  width: 20%;
}
.thirdcard{
  flex: 1.5;
  width: 80%;
}
.payment{
  display: flex;
  flex-wrap: wrap;
}